﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MJira</h1>
    <p class="lead">Mini platform to track the tasks</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can start creating taks fo ryou and for your team as needed
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User Management</h2>
        <p>New Users can sign up by their own and choose the role. Based on the role there will be difference in privilages too. Admin users can have complete access and other users will have access restrictions. All users can manage their account by changing the password.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Task Management</h2>
        <p>Any user can create new Task and all other users will have the privilage to update only few fields. The user one who created the task will act as admin.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>